<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @classified.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @classified.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @classified.description %>
</p>

<%= link_to 'Edit', edit_classified_path(@classified) %> |
<%= link_to 'Back', classifieds_path %>
